/* body {
    background-image: url("../Images/Battlefield\ 4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

nav {
    display: inline;
}

nav a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
  
ul li {
    display: inline-block;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul li:hover {
    background-color: black;
}

ul li {
    display: inline-block;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li { 
    background: #555; 
    display: block; 
}

ul li ul li a {
    display:block !important;
} 

ul li ul li:hover {
    background: black;
}

div {
    background-color: white;
    margin: 30px;
    padding: 20px;
    position: relative;
    width: 50%;
    height: 50%;
    border: #555 solid;
}