@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');

.Gaming {
    font-family: 'Lora', serif;
    color: red;
}

.border {
    background-color: white;
    margin: 30px;
    padding: 20px;
    position: relative;
    width: 50%;
    height: 50%;
    /* background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80); */
}

.ave {
    width: 25%;
    height: 50;
}

.app {
    width: 60%;
    height: 60%;
}

.homebg {
    background-image: url("../Images/homegaming.jpg");
    background-size: auto;
}

.max {
    height: 100%;
    width: 100%;
}

table {
    width: 100%;
}

nav {
    display: inline;
}

nav a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
  
ul li {
    display: inline-block;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul li:hover {
    background-color: black;
}

ul li {
    display: inline-block;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li { 
    background: #555; 
    display: block; 
}

ul li ul li a {
    display:block !important;
} 

ul li ul li:hover {
    background: black;
}

footer {
    background-color: grey;
    height: 100px;
}

.icon {
    width: 100px;
    height: 100px;
}