
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #F0E9D2;
  color: black;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #678983;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #678983;
  color: black;
}

.background {
  background-color: #fff;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #E6CCA9;
}

.fa {
  width: 20px;
  height: 20px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

