table {
    border: solid black;
}

table td, table tr {
    border: 1px solid antiquewhite;
}

table tr:nth-child(even) {
    background-color: bisque;
}

table tr:hover {
    background-color: aquamarine;
}